snippet `date "insert date"
`date`
endsnippet
snippet `sign "insert user signature"
$1
									-rh
endsnippet
snippet `qot "print a quotation"
`qot`
endsnippet

snippet #! "insert shebang"
`echo '#!/usr/bin/env '`${1:bash}
endsnippet
